.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1a125c;
    padding: 1em;
    
}

.list {
    display: flex;
    list-style: none; /*Elimina a bolinha da lista*/
    align-items: center;
}

.item {
    margin-right: 1em;
}

.item a{
    color: #FFF;
    text-decoration: none;
    transition: 0.5s;
}
.item a:hover{
   color: #f7aa12;
}